/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.t-align-c{
    text-align: center;
}
.t-align-r{
    text-align: right;
}

.rounded{
    border-radius: 50%;
}

.flex{
    display: flex;
}
.flex-c{
    display: flex;
    flex-direction: column;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

.inline{
    display: inline-block;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Backgrounds or Colors */
.bg-darkerblue{
    background-color: #0084fd;
}

.bg-blue{
    background-color: #b5ddff;
}
.bg-dkgray{
    background-color: #282828;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}

.white{
    color: white;
}
.white-op{
    color: #7d7f84;
}


/************************************************
    UTILITIES
 ************************************************/
 .boxed{
    width: 90%;
    margin: 1rem auto;
}







 /************************************************
    SITE SECTIONS
 ************************************************/

 main{
    height: calc(100vh - 5rem);
}
.main-container{
    height: calc(100vh - 5rem);
}



/* NAVBAR */

nav{
    width: 15%;
    overflow: hidden;
}
nav .container{
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}

nav .container div{
    margin: 1rem 0;
}
.first-box{
    height: 80%;
}

nav .abs-group-icons{
   height: 15%;
}

.separator{
    display: none;
}
nav .abs-group-icons p{
    display: none;

}



nav p{
    color: #ffffff;
    opacity: 0.8;
    display: none;  
}

.playlist-box{
    display: none;  
}
#playlist-text{
    padding: unset;
    border: unset;
}

.add-icon{
    font-size: 3rem;
}
#crea-playlist{
    align-self: center;
    margin-left: 0.5rem;
    padding: unset;
    border: unset;
}

nav .playlist-box p{
    margin: 0.5rem 0;
    display: block;
    padding: 0 1rem;
}


.list-box{
    overflow: auto;
    max-height: 20rem;
}



/* NAV HOVER  */

.first-box div:hover{
    border-left: 3px solid green;
    padding-left: 0.5rem;
    cursor: pointer;
}
#spotify:hover{
    border: unset;
    padding: unset;
    cursor: unset;
}
.playlist-box .list-box:hover{
    border: unset;
    padding: unset;
    cursor: unset;
}

.playlist-box .add-icon:hover{
    cursor: pointer;
}
.playlist-box .list-box p:hover{
    cursor: pointer;
}

nav .playlist-box p:hover{
    border-left: 3px solid green;
}

nav .abs-group-icons div:hover{
    border-left: 3px solid green;
    padding-left: 0.5rem;
    cursor: pointer;
}

/* INSIDE CONTENT */

.content-container{
    width: 85%;  /*da mettere in px per il formato tabl*/
    background-color: #141922;
    overflow: auto;
}

header{
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12 ;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
}
header p{
    width: 15rem;
    height: 50%;
    text-align: center;
    border:1px solid white;
    border-radius: 30px;
    padding: 0.9rem 1rem;
    color: white;
    position: absolute;
    right: 5%;
}

/* Menu Section */

.menu-container{
    margin-top: 1rem;
    flex-wrap: wrap;
    font-size: 0.7rem;
    color: #7d7f84;
}
.menu-container .menu{
    width: calc(100% / 4);
}
.menu-container .menu-bot{
    width: 50%;
    margin-top: 1rem;
    padding: 1rem;
}

.abs-green-line{
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 5px;
    transform: translate( -50% );
    color: green;
    display: none;
}

/* Music Section */

.music p{
    color: #7d7f84;
}

.music-container{
    margin: 1rem 0;
    flex-wrap: wrap;
}

.bigbox{
    width: calc(100% / 2);
    padding: 0.5rem;
}
.bigbox h3{
    color: white;
}
.bigbox p{
    color: #7d7f84;
    margin-top: 0.5rem;
}

.abs-play{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.abs-play i{
    font-size: 3rem;
}



/* Hover */

header p:hover{
    height: 55%;
    width: 16rem;
    padding: 1rem 1.1rem;
    cursor: pointer;
}

.menu-container .menu:hover{
    cursor: pointer;
}
.menu-container .menu:hover .abs-green-line{
    display: block;
}
.menu-container .menu-bot:hover{
    cursor: pointer;
}
.menu-container .menu-bot:hover .abs-green-line{
    display: block;
    height: 20px;
}

.bigbox:hover img{
   opacity: 0.5;
}
.bigbox:hover .abs-play{
    display: unset;
    cursor: pointer;
}











/* FOOTER */
footer{
    height: 5rem;
    width: 100% ;
    align-items: center;
    padding: 0.5rem;
}

.wings-box{
    width: 30%;
    align-items: center;
}
.mid-box{
    width: 40%;
}

footer .wings-box .img-box{
    height: 2.5rem;
    aspect-ratio: 1;
    margin-right: 0.5rem;
    justify-content: center;
}



footer .wings-box .icons-box{
    margin-left: 0.5rem;
}

footer .mid-box{
    padding: 0 1rem;
}
footer .mid-box i{
    margin: 0 0.3rem;
}
.fa-circle-play{
    font-size: 1.5rem;
}

#song-status{
    width: calc(100% - 2rem);
}

/* RIGHT-WING */

#right{
    text-align: right;
}
#right i{
    margin-right: 0.3rem;
    font-size: 0.8rem;
}
#right progress{
    max-width: 40%;
}
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
  
    width: 250px;
    height: 20px;
    margin-top: 0.5rem;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

/* Hover */

footer .text-box p:hover{
    color:white;
    cursor: pointer;
    text-decoration: underline;
}
footer .icons-box i:hover{
    color:white;
    cursor: pointer;
}

footer .mid-box i:hover{
    cursor: pointer;
}
footer .mid-box .fa-circle-play:hover{
    font-size: 1.6rem;
}

progress[value]:hover{
    cursor: pointer;
}

progress[value]::-webkit-progress-value:hover {
    background-image: none;
    background-color: green; 
}


/*************************************************
    MEDIA
 *************************************************/

 @media screen and (min-width:550px){

    /* NAVBAR */

    nav{
        width: 220px;
    }

    nav .container{
        text-align: left;
    }

    #spotify{
        margin: 1rem auto;
        font-size: 2rem;
        color: #ffffff;
    }

    nav p{
        display: inline-block;
    }

    .playlist-box{
        display: unset;
    }

    .playlist-box #playlist-text{
        opacity: unset;
    }
    


    nav .abs-group-icons{
        display: unset;
        width: 100%;
    }
    .separator{
        display: block;
        width: 100%;
    }
    nav .abs-group-icons p{
        display: inline;
        margin-left: 0.5rem;
    }

    /* INSIDE CONTENT */

    .content-container{
        width: calc(100% - 220px);
    }

    .menu-container .menu{
        width: calc(100% / 3);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .menu-container .menu-bot{
        width: calc(100% / 3);
        margin-top: 1rem;
        padding: 0rem;
    }

 }



 @media screen and (min-width:768px){
    .menu-container .menu{
        width: calc(100% / 5);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .menu-container .menu-bot{
        width: calc(100% / 5);
        margin-top: 1rem;
        padding: 0rem;
    }
    .menu-container .menu-bot:last-child{
        width: 100%;
    }

    .bigbox{
        width: calc(100% / 4);
        padding: 0.5rem;
    }
    
 }

 
 @media screen and (min-width:992px){
    .menu-container .menu{
        width: calc(100% / 6);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .menu-container .menu-bot{
        width: calc(100% / 6);
        margin-top: 1rem;
        padding: 0rem;
    }
    .menu-container .menu-bot:last-child{
        width: calc(100% / 6)
    }

    .bigbox{
        width: calc(100% / 6);
        padding: 0.5rem;
    }
 }
 