/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.t-align-c{
    text-align: center;
}
.t-align-r{
    text-align: right;
}

.rounded{
    border-radius: 50%;
}

.flex{
    display: flex;
}
.flex-c{
    display: flex;
    flex-direction: column;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

.inline{
    display: inline-block;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Backgrounds or Colors */
.bg-darkerblue{
    background-color: #0084fd;
}

.bg-blue{
    background-color: #b5ddff;
}
.bg-dkgray{
    background-color: #282828;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}

.white{
    color: white;
}
.white-op{
    color: #7d7f84;
}


/************************************************
    UTILITIES
 ************************************************/
 .boxed{
    width: 90%;
    margin: 1rem auto;
}







 /************************************************
    SITE SECTIONS
 ************************************************/

 main{
    height: calc(100vh - 5rem);
}
.main-container{
    height: calc(100vh - 5rem);
}



/* NAVBAR */

nav{
    width: 15%;
}
nav .container{
    width: 80%;
    margin: auto;
    text-align: center;
}

nav .container div{
    margin: 0.5rem 0;
}

nav .abs-group-icons{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
nav .abs-group-icons div{
    margin: 1rem 0;
}
.separator{
    display: none;
}
nav .abs-group-icons p{
    display: none;

}



nav p{
    color: #ffffff;
    opacity: 0.8;
    display: none;  
}

.playlist-box{
    display: none;
}

.add-icon{
    font-size: 3rem;
}
#crea-playlist{
    align-self: center;
    margin-left: 0.5rem;
}

nav .playlist-box p{
    margin: 0.5rem 0;
    display: block;
}
.list-box{
    overflow: auto;
    max-height: 20rem;
}

.playlist-box .add-icon:hover{
    cursor: pointer;
}
.playlist-box .list-box p:hover{
    cursor: pointer;
}

/* INSIDE CONTENT */

.content-container{
    width: 85%;  /*da mettere in px per il formato tabl*/
    background-color: #141922;
    overflow: auto;
}

header{
    height: 10%;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12 ;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
}
header p{
    width: 15rem;
    height: 50%;
    text-align: center;
    border:1px solid white;
    border-radius: 30px;
    padding: 0.65rem 1rem;
    color: white;
    position: absolute;
    right: 5%;
}

/* Menu Section */

.menu-container{
    margin-top: 1rem;
    flex-wrap: wrap;
    font-size: 0.7rem;
    color: #7d7f84;
}
.menu-container .menu{
    width: calc(100% / 4);
}
.menu-container .menu-bot{
    width: 50%;
    margin-top: 1rem;
    padding: 1rem;
}

/* Music Section */

.music p{
    color: #7d7f84;
}

.music-container{
    margin: 1rem 0;
    flex-wrap: wrap;
}

.bigbox{
    width: calc(100% / 2);
    padding: 0.5rem;
}
.bigbox h3{
    color: white;
}
.bigbox p{
    color: #7d7f84;
    margin-top: 0.5rem;
}











/* FOOTER */
footer{
    height: 5rem;
    width: 100% ;
    align-items: center;
    padding: 0.5rem;
}

.wings-box{
    width: 30%;
    align-items: center;
}
.mid-box{
    width: 40%;
}

footer .wings-box .img-box{
    height: 2.5rem;
    aspect-ratio: 1;
    margin-right: 0.5rem;
    justify-content: center;
}


footer .wings-box .text-box{
    
}

footer .wings-box .icons-box{
    margin-left: 0.5rem;
}

footer .mid-box{
    padding: 0 1rem;
}
footer .mid-box i{
    margin: 0 0.3rem;
}
.fa-circle-play{
    font-size: 1.5rem;
}

#song-status{
    width: calc(100% - 2rem);
}

/* RIGHT-WING */

#right{
    text-align: right;
}
#right i{
    margin-right: 0.3rem;
    font-size: 0.8rem;
}
#right progress{
    max-width: 40%;
}

progress:hover{
    cursor: pointer;
}





/*************************************************
    MEDIA
 *************************************************/

 @media screen and (min-width:550px){

    /* NAVBAR */

    nav{
        width: 220px;
    }

    nav .container{
        text-align: left;
    }

    #spotify{
        margin: 1rem auto;
        font-size: 2rem;
        color: #ffffff;
    }

    nav p{
        display: inline-block;
    }

    .playlist-box{
        display: unset;
    }

    .playlist-box #playlist-text{
        opacity: unset;
    }
    


    nav .abs-group-icons{
        display: unset;
        max-width: 80%;
        bottom: 0;
        left: 10%;
        transform: unset;
    }
    .separator{
        display: block;
        width: 100%;
    }
    nav .abs-group-icons p{
        display: inline;
        margin-left: 0.5rem;
    }

    /* INSIDE CONTENT */

    .content-container{
        width: calc(100% - 220px);
    }
 }

